{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 px-3">
    <div class="card shadow">
      <div class="card-header text-center bg-white">
            <h2>Reset Your Password</h2>
              <div class="card-body">
               
                    <div class="alert alert-success">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  
                    <p> the email address you entered matches an account in our system, you will receive a password reset link shortly.
                    Be sure to check your spam or junk folder if it doesn’t arrive within a few minutes </p>
                    </div>
                    <div>
  
        </div>
    </div>
</div>
</form>
{% endblock %}
