{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 px-3">
    <div class="card shadow">
      <div class="card-header text-center bg-white">
            <h2>Reset Your Password</h2>
              <div class="card-body">
            <p>Type in your registered email address to begin the password reset process </p>
            <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
        <div>
    <label for="{{ form.email.id_for_label }}">Email Address</label>
    {{ form.email }}
    </div>
  
     <div class="d-grid mt-3">
    {% bootstrap_button button_type="submit" content="Log In" button_class="btn-primary" %}
  </div>
    </div>
</div>
</form>
{% endblock %}
