{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if show_bulk_create_button %}
    <li>
        <a href="{% url 'admin:bulk_voucher_configure' %}" class="addlink">
            Bulk Create Vouchers by Program
        </a>
    </li>
    {% endif %}
    {% if show_reports_link %}
    <li>
        <a href="{% url 'admin:voucher_redemption_report' %}" class="viewlink">
            📊 Redemption Report
        </a>
    </li>
    {% endif %}
{% endblock %}
